<div class="container" id="tree-container" ng-controller="MainController">
    <script type="text/ng-template" id="generateModal.html">
        <div id="generateModal" class="modal-body">
            <form name="generateForm">
                <label for="item_count">Item Count:</label>
                <input name="itemCount" id="item_count" type="number" ng-model="count" min="1" max="15" ng-pattern="/^-?[1-9][^\.]*$/">
                <br/>
                <span class="error" ng-show="generateForm.itemCount.$error.pattern">Whole numbers only please!</span>
                <span class="error" ng-show="generateForm.itemCount.$error.min || generateForm.itemCount.$error.max"> Must be between 1 and 15</span>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary pull-left" ng-click="onGenerateClick()">Generate</button>
            <button class="btn btn-warning " ng-click="onDeleteClick()">Delete</button>
        </div>
    </script>

    <script type="text/ng-template" id="addFactoryModal.html">
        <div id="addFactoryModal" class="modal-body">
            <div class="row">
                <label class="col-md-6" for="new-factory-name">Name: </label>
                <input class="col-md-6" type="text" ng-model="factory.name" id="new-factory-name">
            </div>
            <div class="row">
                <label class="col-md-6" for="new-factory-lower">Lower Limit: </label>
                <input class="col-md-6" type="number" ng-model="factory.lower" id="new-factory-lower">
            </div>
            <div class="row">
                <label class="col-md-6" for="new-factory-upper">Upper Limit: </label>
                <input class="col-md-6" type="number" ng-model="factory.upper" id="new-factory-upper">
            </div>
        </div>
        <div class="modal-footer">
            <a id="saveFactory" class="btn btn-primary pull-right"
               role="button" ng-click="onSaveBtnClick()">Save</a>
        </div>
    </script>

    <div class="ng-cloak">
        <div id="factory-list" class="row row-align-center">
            <div class="header"><strong>Factories</strong></div>
            <ul id="maple">
                <ul>
                    <div ng-repeat="factory in factories track by $index">
                        <li id="factory_{{factory.id}}">
                            <strong><a ng-click="onGenerateClick(factory.id)">{{factory.name}}</a>
                                ({{factory.lower}} : {{factory.upper}}) </strong>
                            <a ng-click="onEditClick(factory.id)" role="button">
                                <i class="glyphicon glyphicon-edit"></i></a>
                            <ul>
                                <li ng-repeat="number in factory.numbers track by $index">{{number}}</li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </ul>
            <a id="addFactoryBtn" class="btn btn-primary" ng-click="onAddFactoryBtnClick()">Add Factory</a>
        </div>
    </div>
</div>